footer
  .container
    ul.list-inline.pull-left
      li &copy; #{moment(Date.now()).format('YYYY')} CodePal

    ul.list-inline.pull-right
      li
        a(href='http://faiyaz.info') Created by Ahmad Faiyaz
