extends ../layouts/default

block main
	#codePad.panel.panel-default
		header.panel-heading
			h3.panel-title
				.row
					.col-md-2
						select#lang.form-control
							option(value = 0) C
							option(value = 1) C++
							option(value = 2) Go
							option(value = 3) Java
							option(value = 4) JavaScript
							option(value = 5) Python 2.7
							option(value = 6) Python 3.0
					
					.col-md-1.pull-right
						if codePad.readOnly == false
							button#save.btn.btn-info Save
						else
							a#save.btn.btn-info(href="/"+codePad._id+'/clone', style="margin-left: -20px;")
								| Clone
								span.badge(style="margin: 0 0 0 6px;")
									| #{ codePad.cloneCount }
		.panel-body
			input#_csrf(type='hidden', name='_csrf', value=_csrf)
			#editor

	script(type='text/javascript').
		var codePad  = !{JSON.stringify(codePad)};

	
